<div class="page-header row">
	<h1><img src="http://placehold.it/50x50" class="img-circle"> John Walski</h1>
</div>

<div class="form-horizontal">

	<div class="row">
		<div class="col-xs-6">

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Name</label>
				<div class="col-sm-8 ">
					<p class="form-control-static">John Walski</p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Phone number</label>
				<div class="col-sm-8">
					<p class="form-control-static">0123 4567890</p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Address</label>
				<div class="col-sm-8">
					<p class="form-control-static">
						123 Eastcote Lane<br>
						Northolt<br>
						UB5 5RJ<br>
						UK
					</p>
				</div>
			</div>

		</div>
		<div class="col-xs-6">

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Email address</label>
				<div class="col-sm-8">
					<p class="form-control-static">janko@walski.com</p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Website</label>
				<div class="col-sm-8">
					<p class="form-control-static">http://janko-walski.info</p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Notes</label>
				<div class="col-sm-8">
					<p class="form-control-static">
						Additional information
					</p>
				</div>
			</div>

		</div>
	</div>

</div>