<div class="page-header">
	<h1>List of contacts</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped" ng-controller="indexCtrl">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email address</th>
				<th>Phone number</th>
				<th>Optional</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.phone}}</td>
				<td><a href="/contact/{{$index}}" class="btn btn-default btn-xs">Show</a></td>
			</tr>
		</tbody>
	</table>
</div>