<div class="page-header">
	<h1>List of contacts</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email address/th>
				<th>Phone number</th>
				<th>Optional</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Karen Nerka</td>
				<td>karenne@email.com</td>
				<td>01234 56734</td>
				<td><a href="#" class="btn btn-default btn-xs">Show</a></td>
			</tr>
			<tr>
				<td>John Walski</td>
				<td>janko@walski.com</td>
				<td>01234 567890</td>
				<td><a href="#" class="btn btn-default btn-xs">Show</a></td>
			</tr>
		</tbody>
	</table>
</div>